<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= current_user.email %> Profile Details</h2>
      </div>
    </div>
  </div>
</div>
<br>
<p><strong>Email:</strong> <%= current_user.email %></p>
<p><strong>Username:</strong> (fill in after merging)</p>
<p><strong>Member since:</strong> <%= current_user.created_at.strftime("%B %d, %Y") %></p>
<p><strong>Number of items left to do on list:</strong> (to be filled in later)</p>
<br><br>
<%= link_to "Edit Info", edit_user_registration_path %>
