<style type="text/css">
   body { background: #E0EFF1 !important; } 
</style>
<div class="fontstyle">

<div class="row">
  <div class="col-md-6">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h3 class="media-heading fontcaps"><%= current_user.username.capitalize %>'s Profile
          <%= link_to "(edit info)", edit_user_registration_path, :class => 'link' %></h3>
        <br>
        <p><strong>Email:</strong> <%= current_user.email %></p>
        <p><strong>Username:</strong> <%= current_user.username %></p>
        <p><strong>Member since:</strong> <%= current_user.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h2 class="text-left fontcaps">To-Do List</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="js-items">
          <% @user.items.each do |item| %>
            <%= render partial: 'items/item', locals: {item: item} %>
          <% end %>
        </div>
      </div>
    </div>
    <br><br>
    <div class="new-item">
      <%= render partial: 'items/form', locals: {user: @user} %>
    </div>
  </div>
</div>
</div>
